.vai{
    height: 700px;
    width: 1265px;
    background-color: #FF6F10;
}
.box{
    
    border-radius: 20px;
   padding-top: 10px;
   padding-left: 10px;
    margin-left: 320px;
    overflow: hidden;
    height: 660px;
    width: 650px;
    background-color: white;
    box-sizing: border-box;
    
}
.hc{
    text-align: center;
}
.ps{
    text-align: center;
    
}